body {
    font-family: Arial, sans-serif;  /* Modify the font family */
    font-size: 16px;                /* Modify the font size */
}
header {
    background-color: #4CAF50;  /* Modify the background color */
}
nav {
    display: inline-block;
    width: 80%;
  }
  nav img {
    width: 10%;
  }
main {
    background-color: #f4f4f4;  /* Modify the background color */
    font-size: 18px;            /* Modify the font size */
}
footer {
    background-color: #ec3d3d;  /* Modify the background color */
}
li {
    display: inline-block;  /* Modify the display property */
    width: 200px;           /* Modify the width property */
}
h1 {
    text-align: center;      /* Modify text alignment */
    font-family: 'Georgia', serif;  /* Modify font family */
    color: #0c1620;          /* Modify text color */
}
p {
    line-height: 1.6;  /* Modify the line height */
}
.content{
    height: 1000px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content:  space-evenly;
    align-items: start;
    row-gap: 20px; /* Adjust this value as needed */
  }
  .grid img {
    width: 100%;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Or adjust based on desired layout */
  }
    